<!DOCTYPE html>
<html>

<head>
    <title>ECommerce</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/custom.css">
    <script src="js/bootstrap.min.js"></script>
</head>

<body>
    <% include ./partials/navbar %>
        <div class="container">
            <%- body -%>
        </div>
    <% include ./partials/footer %>
</body>

</html>